<h2>Edit a Message</h2>

<%= form_with(model: @message, url: user_message_path(current_user[:id], @message), local: true) do |f| %>
    <% if @message.errors.any? %>
        <div id="error_explanation">
        <h2><%= pluralize(@message.errors.count, "error") %> prohibited this message from being saved:</h2>
        <ul>
            <% @message.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
        </ul>
        </div>
    <% end %>

    <div class="actions">
      <%= f.hidden_field :receiver_id, id: "receiver_id", value: @message[:receiver_id].to_s %>
      <%= f.hidden_field :user_id, id: "user_id", value: current_user[:id].to_s %>
      <%= f.text_field :content, id: "content" %>
      <%= f.submit %>
    </div>
<% end %>

<div class="links">
  <%= link_to 'Show', user_message_path(current_user, @message) %> |
  <%= link_to 'Back', user_messages_path(current_user) %>
</div>
