<h2>Your Messages</h2>
<!-- ======= select box source arrays ======= -->
<div class="wrapper">
  <div id="filterMessages">
    <% user_name_ids = [] %>
    <% user_name_ids << "View Conversations With.." %>
    <% @users.each_with_index do |user, index| %>
        <% user_name_ids << [user[:fullname], user[:id]] %>
    <% end %>
    <%= form_with(model: @message, url: "/filter_messages", method: "get", local: true) do |f| %>
        <div class="actions">
            <%= f.select(:receiver_id, options_for_select(user_name_ids)) %>
            <%= f.hidden_field :user_id, id: "user_id", value:current_user[:id].to_s %>
            <%= f.submit "Filter", id: "filterButton" %>
        </div>
    <% end %>
  </div>
  <div id="newMessages">
    <%= link_to 'New Message', new_user_message_path(current_user[:id]), class: "linkButton" %>
  </div>
</div>
<br>
<table id="messageTable">
  <thead>
    <tr>
      <th colspan="4"></th>
    </tr>
  </thead>
  <tbody>
    <% @messages.each do |message| %>
        <% receiver = User.find(message[:receiver_id]) %>
        <% receiver_id = receiver[:id] %>
        <% receiver_name = receiver[:fullname] %>
        <tr>
          <td class="messageWith"> &#187; <% receiver_id.to_s %> <%= link_to receiver_name, user_message_path(current_user, message), class: "linkButton" %></td>
          <td class="messageTime">Sent at: <%= message[:created_at] %></td>
          <td class="messageAction"><%= link_to 'Edit', edit_user_message_path(current_user, message), class: "linkButton" %></td>
          <td class="messageAction"><%= link_to 'Delete', user_message_path(current_user, message), method: :delete, data: { confirm: 'Are you sure?' }, class: "linkButton" %></td>
        </tr>
    <% end %>
  </tbody>
</table>
<br>
