<h1>New Message</h1>
<%= form_with(model: @message, url: user_messages_path(current_user[:id]), local: true) do |f| %>
    <% if @message.errors.any? %>
        <div id="error_explanation">
        <h2><%= pluralize(@message.errors.count, "error") %> prohibited this message from being saved:</h2>
        <ul>
            <% @message.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
        </ul>
        </div>
    <% end %>

    <!-- ======= select box source arrays ======= -->
    <% selected_user = nil %>
    <% if @message[:user_id] %>
      <% selected_user = @message[:user_id] %>
    <% end %>

    <% user_name_ids = [] %>
    <% user_name_ids << "Select a DsCene Member" %>
    <% @users.each_with_index do |user, index| %>
      <% user_name_ids << [user[:fullname], user[:id]] %>
    <% end %>
    <div class="formBox">
      <div class="actions">
        <%= f.label :receiver_id, "Send a Message to:" %>
        <%= f.select(:receiver_id, options_for_select(user_name_ids, selected_user)) %>
        <%= f.hidden_field :user_id, id: "user_id", value:current_user[:id].to_s %> <br>
        <%= f.text_area :content, id: "content" %> <br>
        <%= f.submit %>
      </div>
    </div>
<% end %>
<div class="links">
  <%= link_to 'Back', user_messages_path(current_user) %>
</div>
