<div class="wrapper">
  <div id="homeSlideshow">
    <div id="slideshow">
      <div>
        <%= image_tag("DC_homepage1.png", :alt => "rss feed") %>
      </div>
      <div>
        <%= image_tag("DC_homepage2.png", :alt => "rss feed") %>
      </div>
      <div>
        <%= image_tag("DC_homepage3.png", :alt => "rss feed") %>
      </div>
      <div>
        <%= image_tag("DC_homepage4.png", :alt => "rss feed") %>
      </div>
    </div>
  </div>
  <div id="homeMenu">
    <h3>Get to know your neighborhood &amp; neighbors through DsCene</h3>
    <p>DsCene connects those who are new to the district and helps your learn
      the awesome places to eat, drink, and more in your neighborhood.</p>
    <div class="homeButtons">
      <%= link_to "Sign up", new_user_registration_path %>
    </div>
    <div class="homeButtons">
      <%= link_to "Sign in", new_user_session_path %>
    </div>
  </div>
</div>
