<% if !current_user %>
  <%= render :partial => "/users/homePage" %>
<% else %>
  <div id="userHome">
  </div>
<h1> Places we Recommend </h1>
<div id="breweries">
<h3> Breweries </h3>
  <%= link_to 'Church Key DC', 'http://churchkeydc.com/' %> <br>
  <%= link_to 'Bier', 'http://inlovewithbier.com/Tavern/' %><br>
  <%= link_to 'Bardo Beer', 'http://bardo.beer/' %><br>
  <%= link_to 'Blue Jacket DC', 'http://bluejacketdc.com/' %><br>
  <%= link_to 'Gordon Biersch', 'http://www.gordonbiersch.com/locations/navy-yard?action=view' %><br>
  <%= link_to 'Right Proper Brewing', 'http://www.rightproperbrewing.com/' %><br>
  <%= link_to 'Atlas Brew Works', 'http://www.atlasbrewworks.com/' %><br>
</div>
<div id="restaurants">
  <h3> Restaurants </h3>
  <%= link_to 'Rose Luxury', 'https://www.rosesluxury.com/' %> <br>
  <%= link_to 'Wolf Gang Puck', 'https://wolfgangpuck.com/dining/the-source-washington-d-c/' %><br>
  <%= link_to 'Fiola', 'http://www.fioladc.com/' %><br>
  <%= link_to 'China Chilcano', 'http://chinachilcano.com/' %><br>
  <%= link_to 'Zaytinya', 'http://www.zaytinya.com/' %><br>
  <%= link_to 'RPM Italian', 'http://rpmrestaurants.com/rpmitalian/dc/' %><br>
  <%= link_to 'Centrolina DC', 'http://centrolinadc.com/' %><br>
</div>
<div id="cafes">
  <h3> Cafes </h3>
  <%= link_to 'Le Bon Cafe DC', 'http://www.leboncafedc.com/' %> <br>
  <%= link_to 'Pavilion Cafe', 'https://www.pavilioncafe.com/' %><br>
  <%= link_to 'Peregrine Espresso', 'http://peregrineespresso.com/' %><br>
  <%= link_to 'East Street Cafe DC', 'https://www.eaststreetcafedc.com/' %><br>
  <%= link_to 'Dolci Gelati', 'https://www.dolcigelati.net/' %><br>
  <%= link_to 'Soho Tea and Coffee', 'http://www.sohoteaandcoffee.com/' %><br>
  <%= link_to 'Kaldis Social House', 'https://www.kaldissocial.com/' %><br>
</div>
<div id="places">
  <h3> Places To See </h3>
  <%= link_to 'National Mall', 'https://www.nps.gov/nama/index.htm' %> <br>
  <%= link_to 'White House', 'https://www.whitehouse.gov/' %><br>
  <%= link_to 'United States Capitol', 'https://www.visitthecapitol.gov/' %><br>
  <%= link_to 'Lincoln Memorial', 'https://www.nps.gov/linc/index.htm' %><br>
  <%= link_to 'Washington Monument', 'https://www.nps.gov/wamo/index.htm' %><br>
  <%= link_to 'National Museum of Natural History', 'http://naturalhistory.si.edu/' %><br>
  <%= link_to 'Vietnam Veterans Memorial', 'https://www.nps.gov/vive/index.htm' %><br>
</div>
<% end %>
