<%= form_with(model: hobby, local: true) do |form| %>
  <% if hobby.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(hobby.errors.count, "error") %> prohibited this hobby from being saved:</h2>

      <ul>
      <% hobby.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="actions">
  <div id="hobbyform">
  <%= form_for @hobby do |f| %>
    <% @hobby = ['reading', 'gym', 'movie', 'dancing', 'outside', 'food', 'drinks', 'museums'] %>
    <%= form.hidden_field :user_id, value: current_user[:id].to_s %>
    <% @hobby.each do |hobby| %>
    <p> <%= hobby %> </p>
      <%= form.check_box hobby, { :multiple => true }, hobby, false %>
    <% end %>
  <% end %>
  <%= form.submit %>
</div>
</div>
  <% end %>
