<%= form_with(model: hobby, local: true) do |form| %>
  <% if hobby.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(hobby.errors.count, "error") %> prohibited this hobby from being saved:</h2>

      <ul>
      <% hobby.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="actions">
    <%= form.label :reading, "Whats your favorite book?" %> <br>
    <%= form.text_field :reading, autofocus: true,  class: "typeBox" %><br>
    <%= form.label :gym, "Whats your favorite sport?" %> <br>
    <%= form.text_field :gym, autofocus: true,  class: "typeBox" %><br>
    <%= form.label :movie, "What kind of movies do you like?" %> <br>
    <%= form.text_field :movie, autofocus: true,  class: "typeBox" %><br>
    <%= form.label :dancing, "What kind of music do you like?" %> <br>
    <%= form.text_field :dancing, autofocus: true,  class: "typeBox" %><br>
    <%= form.label :outside, "What type of outdoor activities do you enjoy?" %> <br>
    <%= form.text_field :outside, autofocus: true,  class: "typeBox" %><br>
    <%= form.label :food, "What's your favorite food?" %> <br>
    <%= form.text_field :food, autofocus: true,  class: "typeBox" %><br>
    <%= form.label :drinks, "What's your prefered drink?" %> <br>
    <%= form.text_field :drinks, autofocus: true,  class: "typeBox" %><br>
    <%= form.label :museums, "Whats your favorite museum in DC?" %> <br>
    <%= form.text_field :museums, autofocus: true,  class: "typeBox" %><br>
    <%= form.hidden_field :user_id, value: current_user[:id] %>
    <%= form.submit %>
</div>
  <% end %>
