<%= form_with(model: neighborhood, local: true) do |form| %>
  <% if neighborhood.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(neighborhood.errors.count, "error") %> prohibited this neighborhood from being saved:</h2>

      <ul>
      <% neighborhood.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <div class="adminForms">
      <div class="field">
        <%= form.label :name, "Neighborhood Name: " %>
        <%= form.text_field :name, class: "typeBox" %> <br>
      </div>
      <div class="field">
        <%= form.label :lat, "Latitude: " %>
        <%= form.number_field :lat, step: :any, class: "typeBox" %> <br>
      </div>
      <div class="field">
        <%= form.label :lng, "Longitude: " %>
        <%= form.number_field :lng, step: :any, class: "typeBox" %> <br>
      </div>
      <%= form.submit %>
    </div>
  </div>
<% end %>
<br>
