<!DOCTYPE html>
<html>
    <head>
        <title>||| DC_scene |||</title>
        <%= csrf_meta_tags %>
        <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js" %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    </head>

    <!-- ======= ======= ======= body ======= ======= ======= -->
    <body>

        <!-- == header == -->
        <div id="header" class="section">
            <h1>DC_scene</h1>
            <div id="menuBox">
                <%= link_to "Home", home_path %> -- --
                <% if !current_user %>
                    <%= link_to "Sign up", new_user_registration_path %> -- --
                    <%= link_to "Sign in", new_user_session_path %>

                <% else %>
                    <%= link_to 'All Users', users_path %> -- --
                    <%= link_to 'Photos', photos_path %> -- --
                    <%= link_to 'New Photo', new_photo_path %> -- --
                    <%= link_to "Profile", user_path(current_user)%> -- --
                    <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
                    <div class="menuLine">
                        <%= link_to "Find Places", "/search_local_places" %>
                    </div>
                    <% if current_user[:admin] %>
                        <div class="menuLine">
                            <span>ADMIN ONLY FUNCTIONS :: </span>
                            <%= link_to "Add Neighborhood", new_neighborhood_path %> -- --
                            <%= link_to 'All Languages', languages_path %> -- --
                            <%= link_to 'New Language', new_language_path %>
                        </div>
                    <% end %>
                    <p> >> Current User: <%= current_user[:fullname] %> </p>
                <% end %>
            </div>
        </div>

        <!-- == yield == -->
        <div id="yield" class="section" data-state="default">
            <%= yield %>
        </div>

        <!-- == footer == -->
        <div id="footer">
            <p id="notice"><%= notice %></p>
        </div>

    </body>
</html>
