<!DOCTYPE html>
<html>
    <head>
        <title>||| D_sCene |||</title>
        <%= csrf_meta_tags %>
        <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js" %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    </head>

    <!-- ======= ======= ======= body ======= ======= ======= -->
    <body>

        <!-- == header == -->
        <div id="header" class="section">
            <h1>DC Scene</h1>
            <div id="menuBox">
              <ul>
                <li><%= link_to "Home", home_path %></li>
                <% if !current_user %>
                    <li><%= link_to "Sign up", new_user_registration_path %></li>
                    <li><%= link_to "Sign in", new_user_session_path %></li>
                <% else %>
                    <li><%= link_to 'All Users', users_path %></li>
                    <li><%= link_to "Profile", user_path(current_user)%></li>
                    <div class="menuLine">
                        <li><%= link_to "Find Places", "/search_local_places" %></li>
                        <li><%= link_to "Send Message", new_user_message_path(current_user) %></li>
                        <li><%= link_to "My Messages", "/my_messages/" + current_user[:id].to_s %></li>
                        <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
                    </div>
                    <% if current_user[:admin] %>
                        <div class="menuLine">
                            <span>ADMIN ONLY FUNCTIONS :: </span>
                            <li><%= link_to "All Neighborhoods", neighborhoods_path %></li>
                            <li><%= link_to 'All Languages', languages_path %></li>
                        </div>
                    <% end %>
                  </ul>
                    <p> >> Current User: <%= current_user[:fullname] %> </p>
                <% end %>
            </div>
        </div>

        <!-- == yield == -->
        <div id="yield" class="section" data-state="default">
          <p id="notice"><%= notice %></p>
          <%= yield %>
        </div>
        <!-- == footer == -->
        <div id="footer">
        </div>

    </body>
</html>
